body{
    background-color: gray;
}
#wrap{
    width : 500px;
    background-color: white;
    margin : 30px auto;
    padding : 10px;
    
}
fieldset{
    margin-bottom: 20px;
}
legend{
    font-size: large;
    font-weight: bold;
}
ul{
    list-style: none;
    padding-left : 0px;
    margin-bottom : 20px;
}
li{
    margin-bottom: 20px;
    
}
ul li input{
    width : 300px;
    height : 40px;
}


#submit{
    width : 492px;
    height : 50px;
    border : 1px solid black;
    margin : 20px auto;
    display : flex;
    justify-content: center;

}
#submit>input{
    width : 200px;
    text-align: center;
    border-radius: 100px;
    
}
span{
    display : inline-block;
    width : 120px;
    font-weight: bold;
}
input[type="submit"]:hover{
    cursor : pointer;
    background-color: yellow;
}