body{
    background-color: gray;
}
#wrap{
    width : 500px;
    background-color: white;
    margin : 30px auto;
    padding : 10px;
    
}
fieldset{
    margin-bottom: 20px;
}
legend{
    font-size: large;
    font-weight: bold;
}
ul{
    list-style: none;
    padding-left : 0px;
    margin-bottom : 20px;
}
li{
    margin-bottom: 20px;
    
}
ul li input{
    width : 300px;
    height : 40px;
}


#submit{
    width : 470px;
    height : 50px;
    border : 1px solid black;
    margin : 20px auto;
    display : flex;
    justify-content: center;

}
#submit>input{
    width : 200px;
    text-align: center;
    border-radius: 100px;
    font-size: 20px;
    
}

#wrap input:not([type=radio],[type=submit]){
    border:1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding:5px;
}
#wrap input[required]{
    border : 1px solid red;
}
#wrap input[readonly]{
    border : none;
}

#wrap fieldset:last-of-type{
    border:none;
    margin-bottom:0;
}
span{
    display : inline-block;
    width : 120px;
    font-weight: bold;
}
input[type="submit"]:hover{
    cursor : pointer;
    background-color: black;
    color:white;
}