*{
    box-sizing: border-box;
    margin :0;
    padding:0;
}
#img{
    
    
    background : url(Image20240424093153.jpg) no-repeat;
    background-size: cover;
    width:800px;
    height:500px;
    margin:0 auto;
    position: relative;
}
#contents{
    
    
    color:white;
    font-size: xx-large;
    text-shadow : 2px 3px 0 #000;
    position: absolute;
    bottom : 100px;
    right: 100px;
   
    
}